<!DOCTYPE html>
<html>

<head>
  <title>Portfolio</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('body').on('click', 'description', function () {
        textarea_Click(this);
      });
    });
    $("#description").click(function () {
      textarea_Click(this)
    });

    function word_click(origin, new_text) {
      var all_text = $("#description").val()

      var result = all_text.replace(origin, new_text)
      if (result == "undefined") {
        result = all_text
      }
      $("#description").val(result)
    }

    function textarea_Click(e) {
      var text = e.value;
      if (text === "")
        return;

      var caret = getCaretPosition(e) - 1;
      var word = getTextAreaWord(text, caret)
      if (word == "") {
        return;
      }
      $.ajax({
        type: "POST",
        url: "/layout",
        contentType: "application/json",
        data: JSON.stringify({
          word: word
        }),
        dataType: "json",
        success: function (wordlist) {
          var wordlist_script = "";
          var items = Object.keys(wordlist).map(function (key) {
            return [key, wordlist[key]];
          });

          // Sort the array based on the second element
          items.sort(function (first, second) {
            return second[1] - first[1];
          });
          if (items.length == 0) {
            return;
          }
          wordlist_script += '<ul style="width:100%;text-align: left;padding-inline-start: 5px !important;">';
          for (i = 0; i < items.length; i++) {
            if (i > 5) {
              break
            }
            var v = items[i][0];
            var w = items[i][1];
            wordlist_script +=
              '<li style="display:inline-block;padding: 0px 5px 0px 5px;color: #4a4a4a;"><button type="button" onclick=word_click("' +
              word + '","' + v + '")>' +
              v +
              '</button></li>';
          }
          wordlist_script += '</ul>'
          $("#wordlist").html(wordlist_script);
        },
        error: function (xtr, status, error) {
          console.log(xtr + ":" + status + ":" + error);
        }
      });
    }

    function getTextAreaWord(text, caret) {
      stack = []
      while (true) {
        char = text.charAt(caret)

        if (char == " " || caret < 0)
          break;

        stack.push(char);
        caret--;
      }


      let word = ''
      stack_len = stack.length
      for (i = 0; i < stack_len; i++) {
        word += stack.pop();
      }
      return word
    }

    function getCaretPosition(textarea) {
      console.log(textarea.selectionStart)
      if (textarea.selectionStart) {
        return textarea.selectionStart;
      } else {
        // TODO: Handle IE ugliness on your own :)
        return 0;
      }
    }

    function setSelection(begin, end, textarea) {
      if ("selectionStart" in textarea) {
        textarea.selectionStart = begin;
        textarea.selectionEnd = end + 1;
      } else if (document.selection) {
        // TODO: Handle IE ugliness on your own :)
        return;
      }
    }
  </script>
</head>

<body>
  <!-- navigation bar -->
  <div class="navbar">
    <img src="../static/images/profile_img.png" width="34" height="34">
    <ul class="menu-right">
      <li><button id="about-btn">About</button>
      <li><button id="contact-btn">Contact</button>
    </ul>
  </div>

  <section class="header">
    <div class="helper"></div>
    <div class="vertical-center">
      <h1>제목은 쏘카 차량정비 검색창이라고 하겠습니다</h1>
      <h2>근데 이제 자동완성 기능을 곁들인 :)</h2>
    </div>
  </section>

  <!-- contact me -->
  <section class="about contact">
    <div class="helper"></div>
    <div class="vertical-center" style="width:70%;">
      <h3>아이카센터</h3>
      <p>언제든지 편하게 검색해주세요. 감사합니다!</p>
      <form action="home" method="POST" style="width:100% !important;">
        <div style="display: inline-flex;width: 100%;flex-wrap: nowrap;flex-direction: row;">
          <div style="width:80%;">
            <textarea type="text" id="description" name="description"
              placeholder="입력해주세요">{{request.form['description']}}</textarea>
            <script type="text/javascript">
              $("#description").click(function () {
                textarea_Click(this)
              });
            </script>
            <div>
              <div id="wordlist">

              </div>
              <div class="vertical-right" style="float: right;">
                <input type="submit" value="확인">
              </div>
            </div>
          </div>

          <div style="width:20%;margin-left: 10px;border: solid 1px #ebebeb;height:222px;border-radius: 4px;">
            {% if description is not none %}
            <ul style="width:100%;padding-inline-start: 5px !important;">
              {% for key, weight in description.items() %}
              <li style="display:inline-block;color: #4a4a4a;">{{ key }} [{{ weight }}%]</li>
              {% endfor %}


            </ul>
            {%endif%}
          </div>
          <br />

        </div>
      </form>
      <div>

      </div>
  </section>
  <!-- about me -->
  <!-- <section class="about">
    <div class="helper"></div>
    <div class="vertical-center">
      <h3>About Data</h3>
      <p>안녕하세요 나무위키X지식백과 만남으로 탄생했습니다! 만나서 반가워요😉</p>

      <div class="skillset">
        <div class="skill">
          <div class="title">HTML5</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">90%</span>
          </div>
        </div>

        <div class="skill">
          <div class="title">CSS3</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">90%</span>
          </div>
        </div>

        <div class="skill">
          <div class="title">jQuery</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">85%</span>
          </div>
        </div>

        <div class="skill">
          <div class="title">Python</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">75%</span>
          </div>
        </div>

        <div class="skill">
          <div class="title">Rails</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">70%</span>
          </div>
        </div>

        <div class="skill">
          <div class="title">Sketch</div>

          <div class="bar">
            <div class="inner-bar"></div>

            <span class="percentage">90%</span>
          </div>
        </div>
      </div>
    </div>
  </section> -->



  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="../static/js/script.js"></script>
</body>

</html>